<header class="app-header">
    <div class="logo">
      <a href="">Logo</a>
    </div>
    <nav class="nav-links">
      <ul>
        <li>
          <a href="/about">À propos</a>
          <div class="sub-menu">
            <ul>
              <li><a href="/mission">Notre mission</a></li>
              <li><a href="/vision">Notre vision</a></li>
            </ul>
          </div>
        </li>
        <li>
          <a href="/services">Nos prestations</a>
          <div class="sub-menu">
            <ul>
              <li><a href="/consulting">Consulting</a></li>
              <li><a href="/development">Développement</a></li>
            </ul>
          </div>
        </li>
        <li>
          <a href="/team">L'équipe</a>
          <div class="sub-menu">
            <ul>
              <li><a href="/team-members">Membres de l'équipe</a></li>
              <li><a href="/careers">Carrières</a></li>
            </ul>
          </div>
        </li>
        <li><a href="/contact">Contacts et RDV</a>
            <div class="sub-menu">
                <ul>
                  <li><a href="/contact">Contacts</a></li>
                  <li><a href="/rdv">Prendre rendez-vous</a></li>
                </ul>
              </div>
        </li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
    <div class="search-cart">
      <a href="/search" class="search-icon">🔍</a>
      <a href="/cart" class="cart-icon">🛒</a>
    </div>
  </header>