<header class="app-header">
  <div class="logo">
    <a [routerLink]="['/']">
      <img class="logo" src="images/logo.png" alt="Logo physiozone" />
    </a>
  </div>

  <!-- Bouton menu burger pour mobile -->
  <button
    class="burger-menu"
    (click)="toggleMenu()"
    [class.active]="isMenuOpen"
  >
    <span></span>
    <span></span>
    <span></span>
  </button>

  <!-- Navigation principale -->
  <nav class="nav-links" [class.active]="isMenuOpen">
    <ul>
      <li>
        <span class="nav-item" (click)="toggleSubMenu($event, 'about')"
          >À propos</span
        >
        <div class="sub-menu" [class.open]="activeSubmenu === 'about'">
          <ul>
            <li>
              <a [routerLink]="['/mission']" (click)="closeMenu()"
                >Notre mission</a
              >
            </li>
            <li>
              <a [routerLink]="['/cabinet']" (click)="closeMenu()"
                >Le cabinet Physiozone</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li>
        <span class="nav-item" (click)="toggleSubMenu($event, 'services')"
          >Nos prestations</span
        >
        <div class="sub-menu" [class.open]="activeSubmenu === 'services'">
          <ul>
            <li><a [routerLink]="['/kine']" (click)="closeMenu()">Kiné</a></li>
            <li>
              <a [routerLink]="['/ostheo']" (click)="closeMenu()">Osthéo</a>
            </li>
            <li><a [routerLink]="['/yoga']" (click)="closeMenu()">Yoga</a></li>
            <li>
              <a [routerLink]="['/pilates']" (click)="closeMenu()">Pilates</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <span class="nav-item" (click)="toggleSubMenu($event, 'team')"
          >L'équipe</span
        >
        <div class="sub-menu" [class.open]="activeSubmenu === 'team'">
          <ul>
            <li>
              <a [routerLink]="['/team']" (click)="closeMenu()"
                >Membres de l'équipe</a
              >
            </li>
            <li>
              <a [routerLink]="['/photos']" (click)="closeMenu()"
                >Photos de vacances</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li>
        <span class="nav-item" (click)="toggleSubMenu($event, 'contact')"
          >Contacts et RDV</span
        >
        <div class="sub-menu" [class.open]="activeSubmenu === 'contact'">
          <ul>
            <li>
              <a [routerLink]="['/contact']" (click)="closeMenu()">Contacts</a>
            </li>
            <li>
              <a [routerLink]="['/rdv']" (click)="closeMenu()"
                >Prendre rendez-vous</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li><span class="nav-item" (click)="closeMenu()">Blog</span></li>
    </ul>
  </nav>

  <!-- Overlay pour fermer le menu en cliquant à l'extérieur -->
  <div class="menu-overlay" *ngIf="isMenuOpen" (click)="closeMenu()"></div>
</header>
