<header class="app-header">
  <div class="logo">
    <a href=""
      ><img class="logo" src="/images/logo.png" alt="Logo physiozone"
    /></a>
  </div>
  <nav class="nav-links">
    <ul>
      <li>
        <a href="/about">À propos</a>
        <div class="sub-menu">
          <ul>
            <li><a href="/mission">Notre mission</a></li>
            <li><a href="/vision">Le cabinet Physiozone</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="/services">Nos prestations</a>
        <div class="sub-menu">
          <ul>
            <li><a href="/consulting">Kiné</a></li>
            <li><a href="/development">Osthéo</a></li>
            <li><a href="/yoga">Yoga</a></li>
            <li><a href="/pilates">Pilates</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="/team">L'équipe</a>
        <div class="sub-menu">
          <ul>
            <li><a href="/team-members">Membres de l'équipe</a></li>
            <li><a href="/photos">Photos de vacances</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="/contact">Contacts et RDV</a>
        <div class="sub-menu">
          <ul>
            <li><a href="/contact">Contacts</a></li>
            <li><a href="/rdv">Prendre rendez-vous</a></li>
          </ul>
        </div>
      </li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </nav>
</header>
