<main class="container-home">
  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-content">
      <h1>Bienvenue chez Physiozone</h1>
      <h2>Cabinet de Kinésithérapie</h2>
    </div>
    <div class="hero-image">
      <img src="/images/img01.jpg" alt="Cabinet physiozone" />
    </div>
  </section>

  <!-- Grid Section -->
  <section class="product-grid">
    <a href="/yoga" class="learn-more">
      <div class="grid-item">
        <div class="item-content">
          <h3>Cours de Yoga</h3>
          <h4>Séance Bien-être</h4>
          <div class="links"></div>
        </div>
        <div class="item-image">
          <img src="/images/img02.jpg" alt="Yoga" />
        </div>
      </div>
    </a>

    <a href="/yoga" class="learn-more">
      <div class="grid-item">
        <div class="item-content">
          <h3>Cours de Yoga</h3>
          <h4>Séance Bien-être</h4>
          <div class="links"></div>
        </div>
        <div class="item-image">
          <img src="/images/img02.jpg" alt="Yoga" />
        </div>
      </div>
    </a>

    <a href="/yoga" class="learn-more">
      <div class="grid-item">
        <div class="item-content">
          <h3>Cours de Yoga</h3>
          <h4>Séance Bien-être</h4>
          <div class="links"></div>
        </div>
        <div class="item-image">
          <img src="/images/img02.jpg" alt="Yoga" />
        </div>
      </div>
    </a>

    <a href="/yoga" class="learn-more">
      <div class="grid-item">
        <div class="item-content">
          <h3>Cours de Yoga</h3>
          <h4>Séance Bien-être</h4>
          <div class="links"></div>
        </div>
        <div class="item-image">
          <img src="/images/img02.jpg" alt="Yoga" />
        </div>
      </div>
    </a>
  </section>

  <!-- Promo Section -->
  <section class="promo">
    <div class="promo-content">
      <h2>Trade In</h2>
      <h3>Upgrade and save. It's that easy.</h3>
      <a href="#" class="learn-more"
        >See what your device is worth <span class="arrow">›</span></a
      >
    </div>
  </section>
</main>
