.team-tile {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  height: 280px; // S'assurer que le composant ne dépasse pas la largeur du conteneur
  background-color: rgba(245, 245, 247);

  .image-container {
    flex: 0 0 30%; // 40% pour l'image
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 10% 0;
    }
  }

  .text-container {
    flex: 0 0 67%; // 60% pour le texte
    padding: 20px; // Espacement autour du texte
    text-align: justify; // Justifier le texte

    p {
      margin: 15px; // Enlever la marge par défaut
    }
  }
}
